<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="panel panel-heading">Post a message...</div>
  <div class="panel-body">
    <textarea ng-model="main.message" class="form-control custom-control" rows=3 style="resize:now"></textarea>
    <span class="input-group-addon btn btn-primary" ng-click="main.postMessage()">Post</span>
  </div>



  <div class="panel panel-heading">Messages...</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="message in main.messages">
        {{message.msg}}
      </li>
    </ul>
  </div>


</div><!--end class container-->
